@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

$dark-2: #15212f;
$dark-1: #252c37;
$midtone: #1c2e47;
$light-1: #8294a2;
$light-2: #e3e3e3;
$main-1: #008ce9;
$main-2: #0083db;
$transparent: rgba(0, 0, 0, 0);

#root > .page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $dark-2;
}

#root > .page.login > .header {
  padding-top: 10px;
  width: 40%;
  max-width: 600px;
  min-width: 500px;
  display: flex;
  justify-content: space-evenly;
}

#root > .page.login > .footer {
  padding-bottom: 10px;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.8em;

  > .item {
    color: $light-1;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
  }
}

#root > .page.login > .content {
  flex: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  > .call-to-action {
    width: 350px;
    height: 300px;
    color: $light-2;

    display: flex;
    flex-direction: column;
    font-weight: bold;

    > .logo-container {
      flex: 0.4;

      > img {
        width: 40px;
        height: 40px;
      }
    }

    > .title {
      flex: 1;
      font-size: 1.75em;
    }

    > .subtitle {
      flex: 0.2;
    }
  }
}

button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid $main-1;
  outline: none;
  min-width: 80px;

  font-weight: bold;

  height: 40px;

  font-size: 1.05rem;

  padding-right: 15px;
  padding-left: 15px;

  margin-bottom: 5px;
  margin-top: 5px;

  transition: 0.2s;

  &.primary {
    background-color: $main-1;
    color: $light-2;

    &:hover {
      background-color: $main-2;
    }
  }

  &.secondary {
    background-color: $transparent;
    color: $main-1;

    &:hover {
      background-color: $midtone;
    }
  }

  &.tertiary {
    border: none;
    color: $main-1;
    height: fit-content;
    background-color: $transparent;
    font-weight: normal;
    font-size: 0.8em;

    &:hover {
      text-decoration: underline;
    }
  }
}

.input-parent {
  background-color: $midtone;
  border-bottom: 2px solid $light-1;
  border-radius: 2px;
  max-width: 200px;
  height: 50px;
  transition: 0.2s;

  &.focused {
    border-bottom-color: $main-1;

    > span {
      color: $main-1;
    }
  }

  > span {
    transition: 0.2s;
    padding-left: 5px;
    font-size: 0.75em;
    color: $light-1;
    width: 100%;
  }

  > input {
    padding-left: 5px;
    color: $light-2;
    outline: none;
    width: 100%;
    border: none;
    background-color: $transparent;
  }
}
